<!DOCTYPE html>
<html >
<!--Based on https://codepen.io/frytyler/pen/EGdtg-->
    <head>
      <meta charset="UTF-8">
      <title>but will your GC shift get CUT?</title>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>
     <div class="login">
      <h1>Will your GC shift get like CUT?</h1>
      <h3>We appreciate you team!!! :D</h3>
        <br>
        
        <form action="{{ url_for('predict')}}"method="post">
            <label for="shift">Which area is this shift in:</label>
            <select name="shift" id="shift" required="required">
              <option value="">None</option>
              <option value="gck">GC Kitchen</option>
              <option value="gcb">GC Bar</option>
              <option value="gcr">GC Runner</option>
              <option value="gch">GC Host</option>
              <option value="gcs">GC Supervisor</option>
            </select>
            <br>
            <h4>Please input date of shift</h4>
            
            <input type="date" name="date" placeholder="Day of shift (DD-MM)" required="required" />

            <label for="start_time">Start Time:</label>
            <input type="time" name="start_time" required="required" min="09:00" max="19:00" required="required" step="900"/>

            <label for="end_time">End Time:</label>
            <input type="time" name="end_time" required="required" min="12:00" max="04:00" required="required" step="900"/>
        
          
            <br>
            <br>

            <label for="cut">Has the shift been cut shorter already?:</label>
            <select name="cut" id="cut">
              <option value="">None</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <br>
            <br>
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict!</button>
         
        </form>
         
       <br>
       <br>
       {{ result }}

        </div>
    </body>
</html>
