<!DOCTYPE html>
<html >
<!--Based on https://codepen.io/frytyler/pen/EGdtg-->
    <head>
      <meta charset="UTF-8">
      <title>API for sentiment analysis</title>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>
        <div>
            <h2> There is no website information available for the GC sessions of this particular date. </h2>
            
            <br>
            This is most likely because the bookings have not yet been released, or because the sessions have already happened for this date.
            <br>
            <br>
            If this seems incorrect, please let Vincent know.
        </div>
    </body>
</html>
